* {
    box-sizing: border-box;
}

.hero-image {
    background-image: url('https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/08/rickandmorty-920x584.jpg');
    background-color: #f6ae5c;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: #e3ff00;
    width: 90%;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    color: red;
    text-align: center;
}

/* .main {
    border: 2px solid white;
    border-radius: 20px;
    height: 700px;
    width: 90%;
    margin: 0 auto;
} */

form {
    text-align: center;
    padding: 5px;
}


dt {
    color: red;
}

dd {
    color: black;
}